/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
}

a {
  color: purple;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background-color: #555;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #888;
}
